name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: sonishifa
          filename: assets/github-metrics.svg
          template: classic
          base: header, activity, community, repositories
          config_timezone: Asia/Kolkata
